name: "Update"
on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch:
jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.UPDATE_GITHUB_TOKEN }}
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@v12
        with:
          # Use Nix 2.19.3 due to https://github.com/NixOS/nix/issues/10022
          nix-installer-tag: v0.16.1
          diagnostic-endpoint: ""
      - name: Nix cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/nix/
          key: nix-cache-${{ hashFiles('**/*.nix', 'flake.lock') }}
          restore-keys: |
            nix-cache-
      - uses: DeterminateSystems/magic-nix-cache-action@v7
        with:
          diagnostic-endpoint: ""
      - name: Configure git user
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
      - name: Update flake
        run: |
          nix --version
          nix flake update --commit-lock-file
          git push
